/* default style rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    padding: 30px 0px;
    height: 400px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}



/* header style */

header {
    background-color: #ADD8E6;
    padding: 10px;
}

.head-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #DAA520;
}

.logo-container {
    flex-grow: 1;
}

.login-container {
    flex-grow: 1;
    text-align: right;
}

.nav-container {
    flex-grow: 3;
}

/* navbar style */

.nav-container ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.nav-container ul li{
    display: inline-block;
}

.nav-container ul li a{
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
}



/* sections background style */

.blue-bg-section {
    padding: 30px;
    background-color: #18008B;
}

.dark-grey-bg-section {
    background-color: #23272A;
}

.grey-bg-section {
    background-color: #D3D3D3;
}

.pink-bg {
    background-color: #EE81EE;
    max-width: 60%;
    margin: 0 auto;
    height: 300px;
    border-radius: 5px;
}


/* columns style */

.main-col {
    flex-grow: 2;
    background-color: #4590FF;
}

.minor-col {
    flex-grow: 1;
    background-color: #F9C0CB;
}

.reverse-content {
    flex-direction: row-reverse;
}

.green-bg-content {
    padding: 30px 0px;
}

.green-main-col {
    background-color: #298B22;
    height: 500px;
}



/* dark grey section */

.dark-pink-col {
    flex-grow: 1;
    background-color: #F08080;
}

.light-green-col {
    display: flex;
    flex-grow: 3;
    background-color: #40B2AA;
}

.light-green-col .col {
    width: 25%;
}



/* footer style */

footer {
    background-color: #23272A;
    padding: 30px;
    border-top: 1px solid #BEBEBE;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    padding: 10px 0px;
}

.footer-row div {
    padding: 10px;
    background-color: #F9C0CB;
}